.shop-container{
	display: grid;
	grid-template-columns: 3fr 1fr;
	/* border: 1px solid black; */
}
.product-container{
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}